<div class="container">
  <h2 class="font-weight-bold">Edit User</h2>
  <%= image_tag url_for(current_user.avatar)%>
  <%= form_with(model: current_user, local: true) do |form|%>
    <div class="field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>

    <div class="field">
      <%= form.submit 'Guardar', class:"btn btn-primary"%>
    </div>
  <% end %>
</div>